<head>

  <meta charset="utf-8">
  <title>Project Base</title>
  <meta name="description" content="Simple Project Base Seo">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" sizes="16x16 32x32 64x64">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-precomposed.png">

  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/fundation.css">
</head>


