<template name="help">
	<div class="section get-help">
		<div class="container">
		  	<h3 class="section-heading">Vamos Empezar con Blaze</h3>
		  
			<p class="section-description" style="text-align : justify;">
				Blaze es una poderosa biblioteca para crear interfaces de usuario escribiendo plantillas HTML reactivas. En comparación con el uso de una combinación de plantillas tradicionales y jQuery, Blaze elimina la necesidad de toda la "lógica de actualización" en su aplicación que escucha los cambios de datos y manipula el DOM. En cambio, las directivas de plantillas familiares como if y each se integran con la reactividad transparente de Tracker y los cursores de la base de datos de Minimongo para que el DOM se actualice automáticamente
			</p>
		  
		  	<a class="button button-primary" href="#">Ver Blaze</a>

		</div>
	</div>
</template>
