<template name="admin_tasks">
	

	<div class="container-example-chris">

		<div class="container">
		
		    <div class="row">
		      	<div class="one-half column" style="margin-top: 25%">
			        <h4>MeteorJS </h4>
			        <p>En este ejemplo veremos las funciones basicas de meteor para insertar,modificar,eliminar un registro, a su vez
			        manejaremos FlowRouter que nos permite ejecutar rutas y enviar datos a traves de ellos a templates con Blaze <a href="http://https://www.meteor.com/tutorials/blaze/creating-an-app">Meteor JS Documentacion</a>.</p>
		     	 </div>

		      	
		    </div>

		    <div  class="row ">
				{{> loginButtons}}
			</div> 
		</div>

		<div class="section get-help" align="left" style="text-align: left !important;  ">
			<div class="container">

				<div class="row">
		          <div class="three columns">
		          	<h3>Task Meteor</h3>
		          </div>
		          <div class="four columns">
		          	<button id="create-task" class="button chris-example" href="#">Create Task</button>
		          </div>
		        </div>

		        <div id="content-form-create" class="row content-form-create">
		        
					<form id="form-task">
					  <div class="row">

					    <div class="six columns">
					      <label for="exampleEmailInput">Name Task</label>
					      <input class="u-full-width" type="text" placeholder="Namen Task" id="name_task">
					    </div>

					    <div class="six columns">
					      	<label for="exampleMessage">Description</label>
					  		<input class="u-full-width" type="text" placeholder="description Task" id="description_task">
					    </div>
					  </div>
					  <input class="button-primary" type="submit" value="Save">
					</form>
		        </div>
			  
			  	<div class="row">
			  		
			  		<table class="u-full-width">
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Description</th>
					      <th>CreateAt</th>
					      <th>Edit</th>
					      <th>Remove</th>
					    </tr>
					  </thead>
					  <tbody>

					  	{{#each tasks}}
					  		<tr>
						      <td>{{name}}</td>
						      <td>{{description}}</td>
						      <td>{{createdAt}}</td>
						      <td><button id="{{_id}}" class="button-primary edit">Edit</button> </td>
						      <td><button id="{{_id}}" class="button remove chris-example">Remove</button> </td>
						    </tr>
					  	{{/each}}
					  
					  </tbody>
					</table>
			  	</div>
			  	
			</div>
		</div>

	</div>

</template>