<template name="home">

	<!--http://getskeleton.com-->
	<!-- .container is main centered wrapper -->
	<div class="section hero">
	    
	    <div class="container">
	    	
	      	<div class="row">
		        <div class="one-half column">
		          <h4 class="hero-heading">Meteor Proyecto Base</h4>
		          <a class="button button-primary" href="/tasks">Tutorial Chris Meteor Blaze</a>

		          <p style="text-align : justify;">
		          	Meteor, o MeteorJS, es un framework para aplicaciones web con JavaScript libre y de código abierto3​ escrito usando Node.js. Meteor facilita un la creación rápida de prototipos y produce código multiplataforma (web, Android, iOS). Se integra con MongoDB y usa Distributed Data Protocol y un patrón publish-subscribe para propagar automáticamente al cliente cambios en los datos sin requerir que el desarrollador escriba algún código de sincronización. En el cliente, Meteor puede ser usado con cualquier librería de UI para JavaScript.
		          </p>
		        </div>
		        <div class="one-half column phones">
		          <img class="phone" src="http://itsg-global.com/wp-content/uploads/2016/08/Meteorjs-Feature-Guide.png">
		         
		        </div>
	      	</div>
	    </div>
	</div>

	{{>info}}

	{{>help}}


	<div class="section">
		<a class="button" href="#">LinkedIn</a>
		<a class="button" href="#">@Chrisnethunter</a>
		<a class="button" href="#">MeteorJS</a>
		<h6> © 2017 ChrisNethunter =p</h6>
	</div>
	
</template>