<template name="info">
	<div class="section values">
	    <div class="container">
	      <div class="row">
	        <div class="one-third column value">
	          <h2 class="value-multiplier">100%</h2>
	          <h5 class="value-heading">React JS</h5>
	          <p class="value-description">Proximante Tutorial React</p>
	        </div>
	        <div class="one-third column value">
	          <h2 class="value-multiplier">100%</h2>
	          <h5 class="value-heading">AngularJS</h5>
	          <p class="value-description">Proximante Tutorial Angular</p>
	        </div>
	        <div class="one-third column value">
	          <h2 class="value-multiplier">100%</h2>
	          <h5 class="value-heading">Blaze</h5>
	          <p class="value-description">Tutorial Blaze</p>
	        </div>
	      </div>
	    </div>
	</div>
</template>